[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = 1.48
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = gatesgarth
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = gatesgarth
[submodule "meta-sdr"]
	path = meta-sdr
	url = https://github.com/balister/meta-sdr.git
	branch = hardknott-nn
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = gatesgarth
[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
	branch = rel-v2021.2
[submodule "meta-xilinx-tools"]
	path = meta-xilinx-tools
	url = https://github.com/Xilinx/meta-xilinx-tools.git
	branch = rel-v2021.2
